# Required dependencies for the project
requests
pyjwt
django
lxml
signxml
dotenv
djangorestframework
djangorestframework_simplejwt

# Testing dependencies (for mock server)
python-multipart
fastapi
uvicorn